{% extends 'base.html' %}

{% block content %}
    <h1>{% block title %} Custom configuration for {{ params['call'] }} at {{ params['location'] }} {% endblock %}</h1>

<ul>
  <li>Location: {{ params['location'] }}</li>
  <li>Latitude: {{ params['latitude'] }}</li>
  <li>Lonitude: {{ params['longitude'] }}</li>
  <li>Destination Cell: {{ params['destcell'] }}</li>
  <li>Admin password: {{ params['admin_password'] }}</li>
</ul
<pre><code>### Custom configuration for {{ params['call'] }} at {{ params['location'] }}<br>
### Generated {{ params['date'] }}<br>
###<br>
### Put your device on your local LAN with internet access.<br>
###<br>
### 1. Find the commented lines for ntp and uncomment the line for your RouterOS version<br>
###<br>
### 2. Connect to the device using Winbox using the MAC address to reference the device<br>
###<br>
### 3. OPTIONAL: Do these three steps manually first, as they will do reboots<br>
### /system package update install<br>
### /system routerboard upgrade<br>
###<br>
### 4. /system reset-configuration no-defaults=yes<br>
###<br>
### 6. Upload your personalized .rsc file using the Files menu<br>
### 7. Open a terminal window (New Terminal)<br>
### 8. Type "/import verbose=yes file=name-of-imported-file.rsc"  (you can autocomplete the filename using TAB key)<br>
###<br>
### Basic device configuration<br>
/ip dhcp-client add add-default-route=yes dhcp-options=hostname,clientid disabled=no interface=ether1<br>
/ping count=5 8.8.8.8<br>
/interface wireless<br>
set 0 country=no_country_set<br>
/system clock set time-zone-name=America/Los_Angeles<br>
/user<br>
add group=full name=KD7DK password={{ params['random_password'] }}<br>
add group=full name=KK7LZM password={{ params['random_password'] }}<br>
add group=full name=NQ1E password={{ params['random_password'] }}<br>
add group=full name=dylan password={{ params['random_password'] }}<br>
add group=full name=eo password={{ params['random_password'] }}<br>
add group=full name=kc7aad password={{ params['random_password'] }}<br>
add group=full name=kennyr password={{ params['random_password'] }}<br>
add group=full name=nigel password={{ params['random_password'] }}<br>
add group=full name=nr3o password={{ params['random_password'] }}<br>
add group=full name=osburn password={{ params['random_password'] }}<br>
add group=full name=tom password={{ params['random_password'] }}<br>
add group=full name=va7dbi password={{ params['random_password'] }}<br>
add group=full name=ve7alb password={{ params['random_password'] }}<br>
add group=read name=monitoring password={{ params['random_password'] }}<br>
/console clear-history<br>
/tool fetch url="https://monitoring.hamwan.net/keys/KD7DK.key"<br>
/tool fetch url="https://monitoring.hamwan.net/keys/KK7LZM.key"<br>
/tool fetch url="https://monitoring.hamwan.net/keys/NQ1E.key"<br>
/tool fetch url="https://monitoring.hamwan.net/keys/dylan.key"<br>
/tool fetch url="https://monitoring.hamwan.net/keys/eo.key"<br>
/tool fetch url="https://monitoring.hamwan.net/keys/kc7aad.key"<br>
/tool fetch url="https://monitoring.hamwan.net/keys/kennyr.key"<br>
/tool fetch url="https://monitoring.hamwan.net/keys/monitoring.key"<br>
/tool fetch url="https://monitoring.hamwan.net/keys/nigel.key"<br>
/tool fetch url="https://monitoring.hamwan.net/keys/nr3o.key"<br>
/tool fetch url="https://monitoring.hamwan.net/keys/osburn.key"<br>
/tool fetch url="https://monitoring.hamwan.net/keys/tom.key"<br>
/tool fetch url="https://monitoring.hamwan.net/keys/va7dbi.key"<br>
/tool fetch url="https://monitoring.hamwan.net/keys/ve7alb.key"<br>
# Delay here?<br>
/ ping count=3 8.8.8.8<br>
/user ssh-keys<br>
import public-key-file=KD7DK.key user=KD7DK<br>
import public-key-file=KK7LZM.key user=KK7LZM<br>
import public-key-file=NQ1E.key user=NQ1E<br>
import public-key-file=dylan.key user=dylan<br>
import public-key-file=eo.key user=eo<br>
import public-key-file=kc7aad.key user=kc7aad<br>
import public-key-file=kennyr.key user=kennyr<br>
import public-key-file=monitoring.key user=monitoring<br>
import public-key-file=nigel.key user=nigel<br>
import public-key-file=nr3o.key user=nr3o<br>
import public-key-file=osburn.key user=osburn<br>
import public-key-file=tom.key user=tom<br>
import public-key-file=va7dbi.key user=va7dbi<br>
import public-key-file=ve7alb.key user=ve7alb<br>
/system routerboard settings set boot-device=try-ethernet-once-then-nand auto-upgrade=yes<br>
/system logging action set 3 bsd-syslog=no name=remote remote=44.25.0.8 remote-port=514 src-address=0.0.0.0 syslog-facility=daemon syslog-severity=auto target=remote<br>
/system logging add action=remote disabled=no prefix="" topics=info<br>
/system logging add action=remote disabled=no prefix="" topics=warning<br>
/system logging add action=remote disabled=no prefix="" topics=error<br>
/snmp<br>
set enabled=yes contact="#hamwan-support on libera.chat"<br>
/snmp community<br>
set name=hamwan addresses=44.24.240.0/20,44.25.0.0/16 read-access=yes write-access=no numbers=0<br>
<br>
# For RouterOS 6.x uncomment this line<br>
#/system ntp client set enabled=yes primary-ntp=44.25.0.4 secondary-ntp=44.24.245.4<br>
# For RouterOS 7.x uncomment this line<br>
#/system ntp client set enabled=yes servers=44.25.0.4,44.24.245.4<br>
<br>
/ip firewall filter remove [find dynamic=no]<br>
/ip firewall mangle add action=change-mss chain=output new-mss=1378 protocol=tcp tcp-flags=syn tcp-mss=!0-1378<br>
/ip firewall mangle add action=change-mss chain=forward new-mss=1378 protocol=tcp tcp-flags=syn tcp-mss=!0-1378<br>
<br>
# clear out pre-existing entries we don't want<br>
/ip dhcp-server remove [find]<br>
/ip dhcp-server network remove [find]<br>
/ip address remove [find interface~"^wlan1"]<br>
<br>
# This wants to be renaming lo interface on ROS7<br>
/interface bridge add fast-forward=no name=loopback0<br>
<br>
# Disable most services for added security.  We recommend disabling winbox and using SSH as the primary access method.
# You can re-enable winbox when you need it for maintenance.
/ip service disable telnet,ftp,www,api,api-ssl<br>
###/ip service disable winbox<br>
/ip service set ssh port=222<br>
/ip dns set servers=44.25.0.1,44.25.1.1<br>
/ip dns set allow-remote-requests=no<br>
<br>
# Wireless configuration, first the channels in a list, and then the interface itself which uses that list.<br>
/interface wireless channels<br>
add band=5ghz-onlyn comment="Cell sites radiate this at 0 degrees (north)" frequency=5920 list=HamWAN name=Sector1-5 width=5<br>
add band=5ghz-onlyn comment="Cell sites radiate this at 120 degrees (south-east)" frequency=5900 list=HamWAN name=Sector2-5 width=5<br>
add band=5ghz-onlyn comment="Cell sites radiate this at 240 degrees (south-west)" frequency=5880 list=HamWAN name=Sector3-5 width=5<br>
add band=5ghz-onlyn comment="Cell sites radiate this at 0 degrees (north)" frequency=5920 list=HamWAN name=Sector1-10 width=10<br>
add band=5ghz-onlyn comment="Cell sites radiate this at 120 degrees (south-east)" frequency=5900 list=HamWAN name=Sector2-10 width=10<br>
add band=5ghz-onlyn comment="Cell sites radiate this at 240 degrees (south-west)" frequency=5880 list=HamWAN name=Sector3-10 width=10<br>
<br>
# Special attention may need be needed here for some hardware<br>
/interface wireless<br>
# Configure this line. For example, set 0 radio-name="AE7SJ/Monroe-Paine"<br>
set 0 radio-name="{{ params['call'] }}/{{ params['location'] }}-{{ params['destcell'] }}"<br>
set 0 rx-chains=0,1 tx-chains=0,1<br>
set 0 disabled=no country=no_country_set frequency-mode=superchannel band=5ghz-onlyn mode=station scan-list="HamWAN" ssid=HamWAN wireless-protocol=nv2<br>
/ip dhcp-client add add-default-route=yes dhcp-options=hostname,clientid disabled=no interface=wlan1<br>
<br>
{% if request.form['ethernet_config'] == "client" %}
# LAN configuration for DHCP client of another device (e.g. router)<br>
/ip dhcp-client [find interface=ether1] add-default-route=no use-peer-dns=no dhcp-options=hostname,clientid<br>
<br>
{% endif %}
{% if request.form['ethernet_config'] == "server" %}
# LAN configuration for masquerade firewall config (this device is gateway)<br>
/ip address add address=192.168.88.1/24 interface=ether1<br>
/ip pool add name=dhcp-pool ranges=192.168.88.100-192.168.88.199<br>
/ip dhcp-server network add address=192.168.88.0/24 dns-server=44.25.0.1,44.25.1.1 gateway=192.168.88.1<br>
/ip dhcp-server add address-pool=dhcp-pool interface=ether1 name=dhcp disabled=no<br>
/ip firewall nat add chain=srcnat action=masquerade out-interface=wlan1<br>
<br>
{% endif %}
# Final configurations per client<br>
# Set location using decimal degrees notation. For example 47.667678,-122.351328<br>
/snmp set location={{ params['latitude'] }},{{ params['longitude'] }}<br>
# Set identity. For example, AE7SJ-Monroe<br>
/system identity set name="{{ params['call'] }}-{{ params['location'] }}"<br>
/user set admin password={{ params['admin_password'] }}<br>
/console clear-history<br>
</code></pre>

{% endblock %}

